#app-portal {
  // start footer
  font-family: "SF Pro Display";
  .cursor-pointer {
    cursor: pointer !important;
  }
  .tieu-de {
    font-weight: 700 !important;
  }
  .text_f {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .card-title {
    color: #082346;
    font-size: 19px;
    font-weight: bold;
  }
  .text_f:hover {
    opacity: 0.8;
    border-bottom: 3px solid #ecf5f7;
  }

  .text_g {
    color: white;
    text-decoration: none;
  }

  .footer_text_head {
    font-weight: bold;
  }

  .footer {
    bottom: 0;
    right: 0;
    left: 0;
    min-height: 20vh;
    padding: 15px 0;
  }

  .footer_text {
    font-size: calc(1rem * 0.8);
  }

  .footer_container {
    padding: 10px 0 20px 0;
    border-bottom: 2px solid white;
  }

  .footer_img {
    width: 120px;
    height: 120px;
  }

  .e {
    font-size: calc(1rem * 0.9);
  }

  .f {
    margin-top: 10px;
  }

  .header_icon {
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 1s;
  }

  .header_icon:hover {
    opacity: 1;
  }

  .header_link {
    color: white;
  }

  @media screen and (max-width: 768px) and (min-width: 472px) {
    .text_f:hover {
      opacity: unset;
      border-bottom: unset;
    }

    .footer_container {
      display: grid !important;
      grid-template-columns: 50% 50%;
      justify-content: unset;
    }

    .d {
      margin-top: 15px;
    }

    .a {
      padding-right: 10px;
      display: flex;
      justify-content: flex-end;
    }

    .c {
      padding-right: 10px;
      text-align: end;
      text-align: right;
    }
  }

  @media screen and (max-width: 471px) {
    .text_f:hover {
      opacity: unset;
      border-bottom: unset;
    }

    .footer_container {
      text-align: center;
      flex-direction: column !important;
    }

    .icon_f {
      justify-content: center;
      align-items: center;
    }
    .a,
    .b,
    .c,
    .delay {
      margin-top: 15px;
    }
  }

  // end footer

  // start header

  .headers {
    height: 12vh;
    background-color: white;
  }

  .header_top {
    height: 35%;
  }

  .header_top_container {
    height: 100%;
    font-size: calc(1rem * 0.9);
    font-weight: bold;
  }

  .header_top_left {
    height: 100%;
  }

  .header_top_left_text {
    margin-left: 5px;
  }

  .header_top_left_child {
    margin-left: 4rem;
  }

  .header_icon {
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.6;
    transition: 1s;
  }

  .header_icon:hover {
    opacity: 1;
  }

  .header_link {
    color: white;
  }

  .header_top_mobile {
    display: none;
  }

  .header_bottom {
    height: 65%;
  }

  .header_bottom_logo {
    width: 40px;
    height: 40px;
  }

  .header_bottom_link {
    color: black;
  }

  .la {
    // opacity: 0.8;
    cursor: pointer;
  }

  .sups {
    padding: 8px 5px;
  }

  // .sups::before,
  .sups::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    background-color: rgb(225, 25, 25);
    transition: 0.5s;
  }

  .sups::after {
    left: 0;
    bottom: -5px;
  }

  .sups::before {
    right: 0;
    top: -10px;
  }

  .dumsa::after,
  .dumsa::before {
    width: 100%;
  }

  .sups:hover::after,
  .sups:hover::before {
    width: 100%;
  }
  .lage {
    opacity: 1;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(
      circle,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000
    );
  }

  .la:hover {
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(
      circle,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #000000,
      #1d1516,
      #000000
    );
  }

  .header_bottom_logo_option {
    border-left: 2px solid black;
    display: flex;
    margin-left: 7px;
    min-width: 25px;
    height: 20px;
    justify-content: flex-end;
    align-items: center;
    font-size: calc(1rem * 0.9);
    padding: 0 5px;
  }

  .header_bottom_select {
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    background-color: white;
    width: 100%;
    border: none;
    outline: none;
  }

  .header_btn {
    border: none;
    padding: 5px 15px;
    font-size: calc(1rem * 0.9);
    font-weight: bold;
    border-radius: 5px 5px;
    transition: 1s;
  }

  .header_btn:hover {
    background-color: rgb(255, 0, 43) !important;
    color: rgb(255, 255, 255) !important;
  }

  .menu_btn {
    display: none;
  }

  .navbar_container_main {
    flex-grow: 1;
    max-width: 680px;
    justify-content: space-around;
  }

  .header_mob_scene {
    display: none;
  }

  @media screen and (max-width: 295px) {
    .error {
      display: none !important;
    }

    .error_nav {
      margin-left: auto;
      margin-right: 0;
    }
  }

  @media screen and (max-width: 914px) {
    .menu_btn {
      display: block;
    }

    .navbar_link {
      font-size: calc(1rem * 0.8);
    }

    .header_top_tab {
      display: none !important;
    }

    .header_top_mobile {
      display: inline-block;
    }

    .navbar_container_main {
      gap: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .banner_btn_ri {
      display: none;
    }
    .navbar_link {
      display: none !important;
    }
    .error_nav {
      display: none !important;
    }

    .header_mob_scene {
      display: block !important;
    }

    .group_icon {
      display: none !important;
    }
  }

  .mob_scene_in {
    z-index: 999;
    top: 15%;
    width: 100%;
    position: fixed;
    height: 85vh;
    background: rgba(0, 0, 0, 0.97);
  }

  // end header

  // start trang chu

  /* banner */

  .banner {
    height: auto;
  }

  .main_banner {
    height: auto;
    width: 100%;
  }

  .sub_banner {
    width: 100%;
    height: auto;
    display: flex;
  }

  .sub_banner_bt {
    width: 50%;
    height: 100% !important;
  }

  /* end banner */

  /* main sub detail */

  .main_sub_bd {
    padding: 15px 18px 15px 18px;
  }

  .main_sub_detal {
    height: auto;
    padding: 40px 0;
    text-align: center;
  }

  .img_top {
    position: relative;
  }

  .card_main_container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .card_main_container .wrapper_card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    transform: translateY(-1%);
  }

  .card_logo {
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 70px;
    height: 70px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  /* end main sub detail */

  /* 2nd banner */

  .sub_banner_bt_2nd {
    width: 33.333333333333333333333333333333333333%;
    height: 100% !important;
  }

  .banner_2nd {
    height: auto;
  }
  /* end 2nd banner */

  .congrate_child_after {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 90%;
    // background-image: url();
    background-color: white;
    border-radius: 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 15px 15px;
    text-align: justify;
  }

  @media screen and (max-width: 1024px) {
    .congrate {
      flex-direction: column;
    }

    #congrate_child_before {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100% !important;
      margin-top: 20px;
    }

    #congrate_child_after {
      margin-top: 20px;
      position: unset !important;
      width: 100% !important;
    }

    .congrate_child {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 400px) {
    #congrate {
      font-size: 0.8rem;
    }
  }

  @media screen and (max-width: 700px) {
    #constate_before {
      flex-direction: column !important;
      justify-content: center;
      align-items: center;
    }

    #constate_after_img {
      display: none !important;
    }

    #constate_after {
      width: 100% !important;
    }
  }

  // end trang chu

  // start general

  p {
    margin: 0;
  }

  h2,
  h5 {
    font-weight: bold;
  }

  .style17 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
  }
  .style17:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
  }

  // end general

  .personImg {
    border-radius: 5px 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
      rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
      rgba(0, 0, 0, 0.07) 0px 16px 16px;
    background-color: white;
  }

  .unPersonImg {
    border-radius: 5px 5px;
    padding: 10px;
    opacity: 0.5;
  }

  .slide_img_cal {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
  }

  // start gioi thieu

  .review_card {
    padding: 15px;
    width: 100%;
    border-radius: 10px 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  @media screen and (max-width: 850px) and (min-width: 761px) {
    .main_container_fap {
      width: 80% !important;
    }

    #video {
      height: 300px;
    }
  }

  @media screen and (max-width: 760px) {
    .main_container_fap {
      width: 80% !important;
    }

    #video {
      height: auto;
    }
  }

  @media screen and (min-width: 768px) {
    .mob_scene_in {
      display: none !important;
    }
  }
  @media screen and (max-width: 768px) {
    .card_main_container:hover {
      transform: unset;
    }
    .body_container {
      flex-direction: column-reverse !important;
      background-color: #eeeeee;
      gap: 20px;
    }
    .body_container_top {
      width: 100% !important;
    }
    .review_bottom_main {
      flex-direction: column;
    }
    .review_bottom_main_sp {
      width: 100% !important;
    }
  }
  // end gioi thieu
  .teat {
    height: 70px;

    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
  }

  .img-fluid {
    height: 100% !important;
  }

  @media screen and (max-width: 768px) {
    .l {
      justify-content: center !important;
    }
  }

  .menu_active {
    color: black;
    border-bottom: 3px solid red;
    cursor: pointer;
  }

  .menu_unactive {
    opacity: 0.5;
    cursor: pointer;
  }

  .nav_in {
    display: none;
  }

  @media screen and (max-width: 850px) {
    #menu_bar {
      display: none !important;
    }

    .nav_in {
      display: inline-block;
    }
  }

  .titleXl {
    font-size: unset !important;
    font-weight: 700;
  }

  h6 {
    font-size: 0.8rem;
    margin: 0;
  }

  .doContent {
    border-bottom: 2px solid red;
    cursor: pointer;
  }

  .unDoContent {
    opacity: 0.7;
    cursor: pointer;
  }

  .removeContent {
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    max-height: 20rem;
  }

  .card-bodys {
    padding: 9px 10px 5px 10px !important;
  }

  h5 {
    margin: 0;
  }
  .boxC {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .prefix_card {
    min-height: 350px;
  }

  .mo-ta {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: 5.3rem;
    text-align: justify;
  }

  .undoRemoveContent {
    all: unset;
  }

  .main_course_detail {
    background-color: #eeeeee;
    padding: 20px 0;
  }

  @media screen and (max-width: 760px) {
    #main_course_detail_before {
      flex-direction: column-reverse !important;
    }

    #main_course_detail_after {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 768px) {
    #main_test {
      flex-direction: column;
    }
    #main_test_after {
      width: 100% !important;
      height: unset;
    }
  }

  @media screen and (max-width: 900px) {
    .right_container {
      height: 250px !important;
    }
    #video {
      height: 250px;
    }
  }

  .checkCommentDetailIn {
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    border-bottom: 1px solid red;
  }

  .checkCommentDetailOut {
    font-weight: bold;
    text-align: center;
    font-size: 0.8rem;
    opacity: 0.5;
  }

  .head_z {
    overflow: hidden;
    display: -webkit-box;
    // -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
  }

  .main_newss {
    padding: 100px 200px;
    transform: translateY(-5%);
    background-color: white;
    border-radius: 2.5px 2.5px;
  }

  .main_newss_2nd {
    padding: 100px 200px;
    background-color: white;
    border-radius: 2.5px 2.5px;
  }

  .main_newss_3nd {
    padding: 10px 20px;
    background-color: white;
    border-radius: 2.5px 2.5px;
  }

  @media screen and (max-width: 992px) and (min-width: 577px) {
    .main_newss {
      transform: unset !important;
      padding: 10px 20px !important;
      width: 90% !important;
    }
    #main_newss_fat {
      padding-top: 20px !important;
    }

    .main_newss_2nd {
      padding: 10px 20px !important;
      width: 90% !important;
    }
  }

  @media screen and (max-width: 576px) {
    .main_newss {
      transform: unset !important;
      padding: 10px 10px !important;
      width: 95% !important;
    }
    #main_newss_fat {
      padding-top: 20px !important;
    }

    .main_newss_2nd {
      padding: 10px 10px !important;
      width: 95% !important;
    }
  }

  @media screen and (max-width: 768px) {
    .mob_view {
      overflow: scroll !important;
      overflow-x: scroll !important;
    }
  }

  .remove:hover {
    color: red !important;
  }

  .owl-stage-outer {
    border: 1px solid #e9e9e9;
    border: thin solid #f2dfc8;
    border-top: 5px solid #f5ca99;
    background: #fff9f2;
  }

  .card_carosel {
    padding: 15px 9px;
  }

  .owl-carousel.owl-loaded {
    position: relative;
  }

  button.owl-next {
    font-size: 5rem;
    z-index: 999;
    // color: white;
  }

  button.owl-next:hover {
    background-color: unset;
  }

  button.owl-prev {
    font-size: 5rem;
    z-index: 999;
    // color: white;
  }

  button.owl-prev:hover {
    background-color: unset;
  }

  .owl-nav {
    margin: 0;
  }

  .owl-dots {
    margin-top: 10px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 10px;
  }

  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: lightcoral;
  }

  .owl-theme .owl-nav {
    position: absolute;
    top: 10%;
    right: 0;
    left: 0;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    text-align: unset;
    // opacity: 0.5;
  }

  .owl-theme .owl-nav {
    &:hover {
      opacity: 1;
    }
  }

  .owl_text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 5rem;
  }

  @media screen and (max-width: 600px) {
    .owl-dots {
      display: none !important;
    }
  }

  h3 {
    margin: 0;
  }

  .golden {
    color: goldenrod;
  }

  .unGolden {
    color: white;
  }

  .hides {
    border-radius: 5px 5px;
    padding: 10px 10px;
    width: 300px;
    background-color: white;
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 999;
    max-width: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .hides:hover {
    display: block !important;
    position: absolute;
  }

  .hide {
    border-radius: 5px 5px;
    padding: 10px 10px;
    // width: 300px;
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    z-index: 998;
    // min-width: 100px;
    white-space: nowrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .kkk {
    position: relative;
  }

  .hide:hover {
    display: block !important;
  }

  .ddd:hover + .hides {
    display: block !important;
  }

  .catching:hover + .hide {
    display: block !important;
  }

  .show_catching {
    position: relative;
    font-weight: 600;
  }

  .main_dang_nhap {
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }

  .main_dang_ky {
    background-color: #fbab7e;
    background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  }

  .dang_nhap_container {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px 5px;
    padding: 10px 15px;
    min-width: 30vw;
  }

  .style18 {
    border-top: 1px solid #8c8b8b;
    text-align: center;
    height: 1px;
  }
  .style18:after {
    content: "hoặc";
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #f0f0f0;
    color: #8c8b8b;
    font-size: 12px;
    // -webkit-transform: rotate(60deg);
    // -moz-transform: rotate(60deg);
    // transform: rotate(60deg);
  }

  .change_icon_dang_nhap:hover {
    cursor: pointer;
    color: lightcoral;
  }

  .change_icon_dang_nhap_face:hover {
    cursor: pointer;
    color: blue;
  }

  .k_dang_nhap {
    cursor: pointer;
    font-size: calc(1rem * 0.8);
    color: blue;
  }

  .k_dang_nhap:hover {
    text-decoration: underline;
  }

  .menu_one_line {
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
  }
  .box_sub_d {
    display: none;
  }

  @media screen and (max-width: 850px) {
    .box_sub_d {
      display: block !important;
    }

    .chen {
      margin: 0 !important;
    }
  }

  .decrease {
    animation: change-color 1s linear infinite;
  }

  @keyframes change-color {
    0% {
      color: red;
    }

    25% {
      color: #c850c0;
    }

    50% {
      color: #4158d0;
    }

    75% {
      color: purple;
    }
  }

  .chi-tiet {
    // cursor: pointer;
    // width: 50px;
    // height: 50px;
    // color: brown;
    // border-radius: 50%;
    // font-size: 12px;
    // font-weight: bold;
    // box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    //   rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    //   rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    //   rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    //   rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    //   rgba(0, 0, 0, 0.09) 0px 32px 16px;
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    // text-transform: uppercase;
    text-align: center;
    // line-height: 50px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: slategray;
    // box-shadow: 0 0 0 0 #ff995040;
    // animation: pulse 1.5s infinite;
  }

  .chi-tiet:hover {
    animation: none;
  }

  @keyframes pulse {
    to {
      box-shadow: 0 0 0 20px #ff995000;
    }
  }

  .gioiThieuPortal {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 7rem;
    height: 7rem;
  }

  .qb {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .qc {
    border-bottom-left-radius: 5px;
  }

  .qd {
    border-bottom-right-radius: 5px;
  }

  .main_panel {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  @media screen and (max-width: 768px) {
    .main_panel {
      flex-direction: column;
      gap: 2rem;
    }
  }

  .banner_btn_rout {
    position: relative;
  }
  .banner_btn_ri {
    position: absolute !important;
    top: 53%;
    left: 20%;
    z-index: 999;
    width: 200px;
    height: 50px;
  }

  .button-49,
  .button-49:after {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: 900;
    background: linear-gradient(transparent 5% 5%, #ff013c 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    border-radius: 8px;
    outline: transparent;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content: "ALTERNATE TEXT";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00e6f6 3%,
      #00e6f6 5%,
      #ff013c 5%
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-0);
  }

  .button-49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  @media (min-width: 768px) {
    .button-49,
    .button-49:after {
      width: 200px;
      height: 50px;
      // line-height: 88px;
    }
  }

  .d-dex-f {
    transform: unset !important;
  }
  .animate-charcter {
    background-image: linear-gradient(
      -225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 1rem;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .btn-khhoc {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
  }

  .wrapper_card {
    overflow: hidden;
    height: 170px;
  }

  .wrapper_card img {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
  }

  .wrapper_c:hover img {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .wrapper_d:hover .imov {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  .wrapper_discard {
    overflow: hidden;
    height: 200px;
  }

  .wrapper_discard .imov {
    object-fit: cover;
    transition: transform 0.8s;
    height: 100%;
  }

  .container-khoa-hoc {
    display: flex;
    position: relative;
  }

  .side-left-khoa-hoc {
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    width: 400px;
    max-height: 98vh;
    overflow-y: scroll;
    // box-shadow: rgba(255, 0, 0, 0.05) 0px 6px 24px 0px,
    //   rgba(255, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    color: rgb(56, 56, 61);
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    padding: 12px 8px;
    transition: 0.5s;
  }

  .accordion-body {
    padding: 4px 5px;
  }

  .page-link {
    color: black;
  }
  .posp-khso {
    text-align: justify;
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    max-height: 8rem;
    font-size: calc(1rem * 0.9);
  }

  .chio-kh-khso {
    width: 120px;
  }

  .popse-khso-p {
    font-size: calc(1rem * 0.9);
    color: unset;
  }

  .pim {
    border: unset;
  }

  .border-popse {
    cursor: pointer;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: unset;
  }

  .accordion-button:not(.collapsed) {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-shadow: unset;
  }

  .accordion-button:focus {
    box-shadow: unset;
  }

  .side-left-khoa-hoc-active {
    width: 0px;
    padding: 0;
  }

  .kh-item-side-left {
    z-index: -1;
  }

  .side-left-khoa-hoc::-webkit-scrollbar {
    display: none;
  }

  .side-left-khoa-hoc {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .text-head-mon-hoc {
    margin-bottom: 8px;
    padding-left: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: rgb(39, 39, 42);
  }

  .kh-child-ct {
    cursor: pointer;
  }

  .kh-child-item-nav-left {
    height: 0;
    overflow: hidden;
    transition: 2s;
  }

  .round-kh-text {
    font-weight: lighter !important;
    margin-bottom: 4px;
  }

  .kh-child-item-nav-left-active {
    height: auto;
  }

  .kh-ch-child-text {
    margin-left: 8px;
    margin-bottom: 18px;
    cursor: pointer;
  }

  .retangle-text-kh {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.5rem;
    width: 100%;
  }

  .pom {
    border-radius: 0 !important;
    border: none !important;
  }
  .item-mon-hoc {
    color: #1c1d1f;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    font-size: 1.2rem;
    margin-bottom: 8px;
  }

  .side-right-khoa-hoc {
    padding: 12px 0 0 16px;
    width: 100%;
  }

  .pim {
    padding: 0 0;
  }
  .menu-khoa-hoc {
    background-color: white;
    border-radius: 8px;
    padding: 12px 8px;
    display: flex;
    overflow-y: scroll;
    margin-bottom: 8px;
    width: 100%;
  }

  .wrapper_kien_thuc_office {
    flex-direction: column;
  }

  .menu-khoa-hoc::-webkit-scrollbar {
    display: none;
  }

  .menu-khoa-hoc {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .item-menu-khoa-hoc {
    padding: 7px 16px;
    border-radius: 8px;
    white-space: nowrap;
  }

  .item-menu-khoa-hoc:hover {
    background-color: #eee8e8;
    cursor: pointer;
  }

  .item-mon-hoc-text {
    font-weight: bold;
    margin-left: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-height: 1.5rem;
    width: 216px;
    font-size: 1rem;
  }

  .kh-arrow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .kh-size-arrow {
    font-size: 0.8rem;
  }

  @media screen and (max-width: 961px) {
    .reszex {
      font-size: 2rem !important;
    }
    .container-khoa-hoc {
      flex-direction: column;
    }
    .side-left-khoa-hoc {
      flex-direction: row;
      max-height: unset;
      max-width: 100%;
      overflow-y: unset;
      overflow-x: scroll;
      width: 100%;
      margin-bottom: 8px;
      position: unset;
      top: unset;
    }

    .item-menu-khoa-hoc {
      background-color: #eee8e8;
      margin-left: 8px;
    }

    .item-mon-hoc {
      background-color: #eee8e8;
      margin-left: 8px;
    }
    .text-head-mon-hoc {
      display: none;
    }
    .side-right-khoa-hoc {
      padding: 0;
    }
  }
  @media screen and (max-width: 480px) {
    .reszex {
      font-size: unset !important;
    }
  }

  .wrapper_img {
    object-fit: cover;
    position: relative;
    .reszex {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      letter-spacing: 0.5rem;
      font-style: italic;
      font-size: 5rem;
      color: white;
      font-weight: bold;
    }
  }

  .text-kien-thuc-a {
    --s: 0.1em; /* the thickness of the line */
    --c: #2c6fff; /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg, var(--c) 50%, #000 0)
        calc(100% - var(--_p, 0%)) / 200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }
  .text-kien-thuc {
    --s: 0.1em; /* the thickness of the line */
    --c: #ff2c2c; /* the color */

    color: #0000;
    padding-bottom: var(--s);
    background: linear-gradient(90deg, var(--c) 50%, #000 0)
        calc(100% - var(--_p, 0%)) / 200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
    -webkit-background-clip: text, padding-box;
    background-clip: text, padding-box;
    transition: 0.5s;
  }
  .wrapper_lsp:hover {
    --_p: 100%;
  }
  .img_card_tc {
    height: 100%;
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: cover;
  }

  .khoa-hoc-header {
    margin-bottom: 8px;
    .text-kh-header {
      font-size: 1.5rem;
      font-weight: bold;
      padding: 2px 8px;
      color: rgba(214, 3, 3, 0.903);
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .kh-search-bar {
    box-shadow: rgba(24, 19, 19, 0.193) 0px 0px 0px 2px;
    // background-color: white;
    margin-left: 8px;
    display: flex;
    padding: 2px 8px;
    min-width: 200px;
    transition: 2s;
    cursor: pointer;
    align-items: center;
    border-radius: 4px;
  }

  .kh-search-icon-active {
    display: none;
  }

  .kh-input {
    border: none;
    outline: none;
    margin-left: 8px;
    flex-grow: 1;
  }
  .kh-input-active {
    display: block;
    width: 100%;
    z-index: 5;
    outline: none;
    border: none;
  }

  .kh-contain-result {
    padding-left: 8px;
    opacity: 0.7;
    .kh-result {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .left-kh-right-bar {
    width: 100%;
  }
  .right-kh-right-bar {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .img-kh-cls {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: cover;
    height: 100%;
    transition: 0.5s;
    filter: brightness(90%);
  }

  .kh-img-right {
    margin-left: 8px;
    padding: 8px 8px 0 0;
  }

  .kso-kh {
    cursor: pointer;
    box-shadow: rgba(255, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(255, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 210px;
  }

  .timer-kh {
    font-size: calc(1rem * 0.9);
  }

  .gia-tien-kh-l {
    font-size: 1.3rem;
    color: rgba(255, 0, 0, 0.807);
    font-weight: bold;
    text-align: end;
  }

  .gia-tien-giam-gias {
    color: #444444;
    opacity: 0.7;
    font-size: 0.9rem;
    text-decoration: line-through;
  }

  .text-kh-line-jus {
    text-align: justify;
    font-size: 14px;
  }

  .kh-right-ddil {
    padding: 0 !important;
  }

  .slide-father {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .slide-child {
    text-align: center;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide-element {
    height: 70px;
    width: 95%;
    box-shadow: #d1d7dc 0px 0px 0px 2px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .slide-element:hover {
    background-color: #f7f9fa;
  }

  .border-popse:hover img {
    filter: brightness(100%);
  }

  .gv-kh {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
    scroll-behavior: smooth;

    .gv-c {
      margin-right: 1vw;
      display: inline-block;
      width: 100%;
      height: 170px;
      overflow-y: hidden;
    }
  }

  .accordion-button {
    width: unset;
    cursor: pointer;
  }

  .gv-kh1 {
    overflow-x: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
    scroll-behavior: smooth;

    .gv-c1 {
      margin-right: 1vw;
      display: inline-block;
      width: 100%;
      height: 200px;
      overflow-y: hidden;
      border: 1px solid red;
    }
  }

  .kh-sl-ca1 {
    position: relative;
    .nextKHNB {
      position: absolute;
      right: -10px;
      top: 58px;
      font-size: 2.3rem;
      cursor: pointer;
      transition: 0.2s;
    }
    .nextKHNB:hover {
      color: rgb(204, 89, 89);
    }

    .prevKHNB {
      position: absolute;
      left: -10px;
      top: 58px;
      font-size: 2.3rem;
      cursor: pointer;
      transition: 0.2s;
    }
    .prevKHNB:hover {
      color: rgb(204, 89, 89);
    }
  }

  .text-kh-nav-leftbar {
    font-size: 1rem !important;
    display: flex;
    align-items: center;
    font-weight: 400 !important;
    cursor: pointer;
  }

  .kh-apeperar {
    transition: all 2s ease-in-out;
  }

  .mob-kh-btn {
    border: 4px;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;
    color: black;
    text-decoration: none;
    padding: 2px 8px;
    box-shadow: rgb(24 19 19 / 19%) 0px 0px 0px 2px;
    margin-bottom: 8px;
    font-size: 1.5rem;
  }
}
